RewriteEngine On

# Redirect all to https://ouloulouicerolls.ch (no www, force HTTPS)
RewriteCond %{HTTP_HOST} ^www\.ouloulouicerolls\.ch$ [NC,OR]
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://ouloulouicerolls.ch/$1 [L,R=301]